    <div id="header" ng-controller="HeaderCtrl as header">
  		<div class="container-fluid">
  			<div role="navigation" class="navbar navbar-default">
  				<div class="container-fluid">
  					<div class="navbar-header">
  						<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
  									<span class="sr-only">Toggle navigation</span>
  									<span class="icon-bar"></span><span class="icon-bar"></span>
  									<span class="icon-bar"></span>
  								</button>
  						<a href="#!/" class="navbar-brand">MSOE Wrestling RTS</a>
  					</div>
  					<div class="collapse navbar-collapse">
  						<ul class="nav navbar-nav navbar-left">
  								<li class="active"><a href="#!/">Home</a></li>
                  <li><a href="#!/stats">Stats</a></li>
                  <li><a href="#!/schedule">Schedule</a></li>
                  <li><a href="#!/about">About</a></li>
  						</ul>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>